@import './global';


/* Anidación */
.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      /* El & en las anidaciones selecciona el padre de la anidación */
      &>div {
        &>h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }

        &>p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }
    }
  }

  button.btn.btn-success {
    background-color: $dark-green-text;
    border: none;
    padding: 12px 50px;
    border-radius: 10px;

    &:hover {
      background-color: $light-green;
    }
  }

  .card {
    width: 100%;
    height: 100%;
    font-family: $font-card;

    img {
      max-height: 200px;
    }

    .card-title {
      font-weight: 600;
      color: $light-black;
    }

    .card-subtitle {
      a {
        font-weight: 600;
        color: $light-green;
        font-size: 1em;
      }

      .read-time {
        color: $gray-read-time;
      }
    }

    .card-text {
      font-weight: 400;
      margin-top: 10px;
      color: $light-black;

      a {
        text-decoration: underline;
        color: $light-black;
      }
    }

    .card-foot {
      font-weight: 600;
      font-size: 14px;
      color: $light-black;

      img {
        @include icono;
        margin-right: 8px;
      }
    }
  }
}